Header set Access-Control-Allow-Origin "*"

<FilesMatch "([0-9\-]+)\.(gif|jpe?g|png|ico|css|js|swf)$">
     Header set Cache-Control "max-age=17280000, public, must-revalidate"
</FilesMatch>
<FilesMatch "\.(woff)$">
     Header set Cache-Control "max-age=17280000, public, must-revalidate"
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteRule ^ ./index.php [L]