<ul>
{% for content in results %}
	<li>
	<a href={{ app.path.link('"/admin/content/edit/' ~ content.getContentType().getSlug() ~ '/' ~ content.getValue(content.getContentType().getFieldByType('slug'))) }}">{{ content.getValue(content.getContentType().getFieldByType('text')) }} - {{ content.getContentType().getSingularName() }}</a>
	</li>
{% endfor %}
</ul>