<div class="modal fade file-list-modal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">Fájl szerkesztése</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6" >
                            <div class="input-group" style="width: 100%; margin: 0px 0px 10px 0px;">
                                <input disabled="disabled" type="text" data-file-path class="form-control1" value="" placeholder="Elérési útvonal">
                                <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group" style="width: 100%; margin: 0px 0px 10px 0px;">
                                        <input type="text" data-file-name class="form-control1" value="" placeholder="Megnevezés">
                                        <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button data-file-remove class="btn btn-danger form-control1">Törlés</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Button -->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="submit"></label>
                              <div class="col-md-4">
                                <button id="submit" data-file-save class="btn btn-primary form-control1">Mentés!</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>