<tr>
	<td><a href="{{ app.path.link('/admin/content/edit/adminlog/' ~ content.slug) }}">{{ content.getValue('title') }}</a></td>
	<td>{{ content.getValue('content') }}</td>
	<td>{{ content.getValue('date') }}</td>
</tr>