{% extends "@theme/_layout.twig" %}

{% block page %}
	{% set pageVars = pageVars|default({})|merge({
		meta_description: 'Kezdőlap',
		meta_keywords: '1,2,3,4,,5,6',
		title: 'Kezdőlap'
	}) %}
	{{ parent() }}
{% endblock %}

{% block content %}
	{% set contentVars = contentVars|default({})|merge({
		title: 'Kezdőlap',
		subtitle: 'Hi'
	}) %}

	{{ parent() }}
	chitti chatty <span class="glyphicon glyphicon-glass"></span>
<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
	{{ forms_form('contactus') }}
{% endblock %}